/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	/* border:1px solid black !important; */
}

html, body {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Your code starts here! */

/* INDEX.HTML */

.container{ 
	justify-content: center;
	display:flex;
	flex-flow: row wrap;
	
	
	

} 
.container header{
	display:flex;
	justify-content: center;
	flex-flow: row wrap;
}

.container nav {
	display:flex;
	width: 80vw;
	justify-content: space-between;
	align-items: center;
	margin-top:20px;
	
}

.container header nav a{
	text-decoration:none;
	color:grey;
	font-family: 'Lacquer', sans-serif;	 
}


.big{
	display:flex;
	font-size:6rem;
	text-align: center;
	align-items: center;
	margin-left:100px;
}

.main{
	display:flex ;
	justify-content: space-around ;
	width:80vw;	
	margin-top:100px;
}

.main .button-place a.button{
	
	border: 1px solid black;
	text-decoration: none;
	padding:5px 50px;
	font-family: 'Lacquer', sans-serif;
	
	

}

.main .button-place{
	display:flex;
	flex-flow:row no-wrap;

}


.feat{
	border-top: 1px solid black;
	display:flex;
	width:80vw;
	justify-content: space-between;
	margin-top:100px;
	margin-bottom:40px;
	padding-top:50px;
}
.feat .one{
	margin-right:30px;
}
.pro{
	display:flex;
	width:80vw;
	margin-top:40px;
}
.pro .one, .pro .two{
	margin-right:40px;
}

.img-middle{
	display:flex;
	flex-flow:row wrap;
	width:80vw;
}
.middle-img{
	width:100vw;
}

.container h2{
	font-size:20px;
}
.container footer{
	border-top:1px solid black;
	display:flex;
	flex-flow:row wrap;
	width:80vw;
	margin-top:50px;
	padding-top:60px;
	
}
.copyright{
	width: 80vw;
	margin-bottom:30px;
	margin-top:100px;
	display:flex;
	flex-flow:row wrap; 
	justify-content: center; 
}


.info{

}

.container footer address div.info span.pushaway{
	display:flex;
	margin-top:20px;

	
	
}



/* SERVICES PAGE */
.parent{ 
	justify-content: center;
	display:flex;
	flex-flow: row wrap;
	
}

.parent .s-header{
	
	display:flex;
	flex-flow: row wrap;
	width:90vw;
	margin-top:25px;
	margin-bottom:50px;
}
.parent .s-header nav{
	display:flex;
	justify-content: space-between;
	width:90vw;
	align-items: center;
	margin-bottom:20px;
	
}
.parent nav a{
	width:90vw;
	text-decoration: none;
	color:grey;
	font-family: 'Lacquer', sans-serif;
}

.parent .header-img{
	display: flex;
	flex-flow: row wrap;
	
}

.parent .header-img .services-header-img{
	width:90vw;
	margin-bottom:30px;
}

.parent .s-section{
	display:flex;
	flex-flow:row wrap;
	width:90vw;
	justify-content: space-between;
	border-top: 1px solid black;
	padding-top:30px;
	
	
	
}
.parent .s-section div{
	width:47%;
	margin-top:25px;
	border:1px solid black;
	background: lightgrey;
	padding:30px;
}



.parent h1{
	font-size:30px; 
}
.parent h2{
	font-size:20px;
}

.parent .s-section-two{
	display:flex;
	flex-flow:row wrap;
	width:90vw;
	justify-content: space-between;
	margin-top:50px;
	border-top:1px solid black;
	padding-top:40px;
}

.parent .s-section-two div{
	width:47%;
	
}
.parent  .s-copyright-holder{
	display:flex;
	width:100vw;
	justify-content: center;
}
.parent .s-copyright-holder .s-copyright {
	margin-top:80px;
	margin-bottom:20px;
	width:90vw;
	text-align: center
}

.parent .s-section .s-button{
	display:flex;
	width:40%;
	height:20%;
	text-decoration: none;
	margin-top:20px;
	margin-bottom:10px;
	border:1px solid black;
	background:white;
	justify-content: center;
	align-items:center;
	color:black;
	border-radius: 10px;
	

}

.parent .s-section-two ul{

	list-style-type: square;
	margin-top:20px;
	
	
}
.parent .s-section-two ul li {
	margin-top:20px;
	margin-left:20px;
}







